<div class="jumbotron">
    <div class="jumborton-content">
        <div class="text-center">
            <div class="jumbotron-h1">
                <h1>Smarter Amazon Product Sourcing</h1>
            </div>
            <div class="jumbotron-p">
                <p>Easy to use software to help discover new amazon product opportunity</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                <form action="/email" method="POST" class="form-inline">
                    <input class="form-group form-control" type="email" name="email" placeholder="Work Email">
                    <input class="btn btn-success btn-lg" type="submit" value="Test it out">
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="benefits">
                <h3>Discover the most profitable products, and niches across all of Amazon's product database.</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="text-center">
                        <img src="https://s3-us-west-2.amazonaws.com/sellgrip/Database.png" alt="Search">
                        <h4 class="landing-img-text">Powerful Data Backed Decisions</h4>
                    </div>
                    <ul class="landing-image-list">
                        <li>Throughly track any product in any niche</li>
                        <li>Quickly compare to make the best choice</li>
                        <li>Always valid product info</li>
                    </ul>                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="text-center">
                        <img src="https://s3-us-west-2.amazonaws.com/sellgrip/Dashboard.png" alt="Search">
                        <h4 class="landing-img-text">Get started and start tracking instantly</h4>
                    </div>
                    <ul class="landing-image-list">
                        <li>Easy to use intuitive dashboard</li>
                        <li>Accessible from any internet connected device</li>
                        <li>Engineered to have 100% uptime, and reliability</li>
                    </ul>                     
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="text-center">
                        <img src="https://s3-us-west-2.amazonaws.com/sellgrip/User.png" alt="User">
                        <h4 class="landing-img-text">Worlds Best Support Platform</h4>
                    </div>
                    <ul class="landing-image-list">
                        <li>Friendly support avaible 24/7</li>
                        <li>Easy to follow along training videos</li>
                        <li>Ecosystem of world class amazon selling parterns</li>
                    </ul>                     
                </div>                
            </div>
        </div>
    </div>
</div>