<footer id="footer">
    <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="footer-left-side">
                        <div class="footer-logo">sellgrip</div><br>
                            <div class="footer-rights">
                            <div class="text-center">
                                <p>@<%= Time.new.year %>, Sellgrip Inc. All Rights Reserved</p><br>
                                <span class="social-icon">
                                    <a href="http://twitter.com"><img src="https://s3-us-west-2.amazonaws.com/sellgrip/YouTube.png" alt="YouTube" height="28" width="28"></a>
                                </span>
                                <span class="social-icon">
                                    <a href="http://facebook.com"><img src="https://s3-us-west-2.amazonaws.com/sellgrip/Facebook.png" alt="Facebook" height="28" width="28"></a>
                                </span>
                                <span class="social-icon">
                                    <a href="http://twitter.com"><img src="https://s3-us-west-2.amazonaws.com/sellgrip/Twitter.png" alt="Twitter" height="28" width="28"></a>
                                </span>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="text-center">
                            <ul class="footer-links">
                                <h4>Product Features</h4>
                                <li>Benefits</li>
                                <li>Plans And Pricing</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="text-center">
                            <ul class="footer-links">
                                <h4>Resources</h4>
                                <li>Blog</li>
                                <li>Training</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="text-center">
                            <ul class="footer-links">
                                <h4>About</h4>
                                <li>About</li>
                                <li>Careers</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="text-center">
                            <ul class="footer-links">
                                <h4>Other</h4>
                                <li>Start A Free Trial</li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>